{% extends "general.html" %}

{% block head_title %} Мои дежурства {% endblock %}
{% block top_title %} Дежурства водителей {% endblock %}

{% block content %}
<div>
    {% if duty_arr %}
    <table class="list-table"> 
        <tr>
            <td><b>КПП</b></td>
            <td><b>Период</b></td>
            <td><b>Время</b></td>
            <td><b>Дни работы</b></td>
        </tr>

        {% if closest_duty %}
        <tr>
            <td colspan="4" style="text-align: center;"><b>Ближайшее дежурство</b></td>
        </tr>

        <tr>
            <td>{{closest_duty.checkpointid}}</td>
            <td>{{closest_duty.min_date}}</td>
            <td>{{closest_duty.begintime}} - {{closest_duty.endtime}}</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center;"><b>Все дежурства</b></td>
        </tr>
        {% endif %}

        {% for obj in duty_arr %}
        <tr>
            <td>{{obj.checkpointid}}</td>
            
            <td>
                {% if obj.enddate %}
                    с {{obj.begindate}} по {{obj.enddate}}
                {% else %}
                    с {{obj.begindate}}
                {% endif %}
            </td>
            <td>{{obj.begintime}} - {{obj.endtime}}</td>
            <td>
                {% for dow, is_set in obj.dow_view.items %}
                    {% if is_set %}
                        <input class="dow-checkbox" type="checkbox" checked title="{{dow}}" disabled>
                    {% else %}
                        <input class="dow-checkbox" type="checkbox"  title="{{dow}}" disabled>
                        <!-- <input type="text" value="{{dow}}" disabled> -->
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1> Дежурства не назначены </h1>
    {% endif %}
</div>
{% endblock %}

