{% extends "base.html" %}
{% load static %}

{% block head_block %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '\css\unlogin.css' %}"/>
{% endblock %}

{% block head_title %} Авторизация {% endblock %}
{% block top_title %} Авторизация {% endblock %}

{% block content %}
<div class="login-div">
    <form method="post", action="{% url 'auth:verify'%}">
        {% csrf_token %}
        
            <label for="login"> Логин </label>
            <input type="text" name="login" value="{{ login }}" autocomplete="off" required>

            <label for="password"> Пароль </label>
            <input type="password" name="password" required>

            <button type="submit" onclick="submitForm(this);">Войти</button>
        
    </form>
    <form action="{% url 'auth:signup' %}">
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
