{% extends "general.html" %}

{% block head_title %} Список всех сотрудников {% endblock %}
{% block top_title %} Сотрудники {% endblock %}

{% block content %}
    <div>
        <table class="list-table">
            <tr>
                <td><b>Должность</b></td>
                <td><b>Имя</b></td>
                <td><b>Фамилия</b></td>
                <td><b>Логин</b></td>
            </tr>

            {% for person in person_arr %}
            <tr class="href-row" onclick="window.location='{% url 'users:profile' person.login %}';">
                <td>{{person.type_name}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.forename}}</td>
                <td>{{person.login}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
