{% extends "base.html" %}

{% block title %} Мой профиль {% endblock %}

{% block content %}
    <nav>
        <a>{{perstype}}</a>
        <a href="{% url 'auth:profile'%}">Профиль</a>
        <ul>
            <li><a href="#">Сотрудники</a></li>
            <li><a href="#">Заявки</a></li>

            <li><a href="#">Заказы</a></li>
            <li><a href="#">Проезды</a></li>
            <li><a href="#">Дежурства</a></li>
        </ul>
    </nav>

    <h1> Профиль </h1>

    <h3> Мои данные </h3>

    <div>
        <label> Должность  </label>
        <table>
            <tr>    <td>Имя</td>        <td>{{person.forename}}</td> </tr>
            <tr>    <td>Фамилия</td>    <td>{{person.surname}}</td> </tr>
            <tr>    <td>Должность</td>  <td>{{person.perstype}}</td> </tr>
            <tr>    <td>Пол</td>        <td>{{person.gender}}</td> </tr>
        </table>
    </div>
{% endblock %}