{% extends "general.html" %}

{% block head_title %} Список всех неподтверверждённых аккаунтов {% endblock %}
{% block top_title %} Неподтверверждённые сотрудники {% endblock %}

{% block content %}
    <div>
        {% if person_arr %}
        <table class="list-table">
            <tr>
                <td><b>Предполагаемая должность</b></td>
                <td><b>Фамилия</b></td>
                <td><b>Имя</b></td>
                <td><b>Логин</b></td>
                <td><b>Действие</b></td>
            </tr>

            {% for person in person_arr %}
            <tr class="href-row" onclick="window.location='{% url 'users:profile' person.login %}';">
                <td>{{person.type_name}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.forename}}</td>
                <td>{{person.login}}</td>
                <td class="no-pad"> 
                    <div class="two-but-div">
                    <a class="small-a" title="Подтвердить" href="{% url 'users:unverified' person.login %}"> ✔ </a>
                    <a class="small-a" title="Отклонить" href="{% url 'users:unverified' person.login %}"> ✖ </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1> Неподтверверждённых аккаунтов сотрудников нет </h1>
        {% endif %}
    </div>
{% endblock %}
