/*  #0B0C10 dark gray
    #1f2833 
    #C5c6c7 gray
    #66fcf1 
    #45A29e light
 */
 @import url("top_menu.css");
 @import url("pop_up.css");
 
:root {
    --header-h: 80px
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #45A29e;
    height: calc(100% - 8%);
}

.wrapper {
    margin-right: 4%;
    margin-left:  4%;

    max-width: 95%;
    min-height: calc(100% - 51px);
    overflow: hidden;

    padding-right: 0px;
    padding-left:  1px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #dfdfdf;
}

.content {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left:  35px;
}

header {
    width: 100%;
    height: var(--header-h);
    background-color: #0B0C10;
    margin-top: -0px;
}

input {
    border: 1px solid black;
}
input:invalid {
    border: 1px solid red;
}

.list-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.list-table th {
    text-align: left;
    padding: 10px;
}  
.list-table td {
    text-align: left;
    padding: 10px;
    /* border-radius: 25px; */
}  
.list-table tr {
    border: 2px solid #ffffff00;
    border-style: inset;
}
.list-table tr:nth-child(even) {
    background-color: #f2f2f2;
    background-color: #aedfdcc9;
    background-color: #dbecec;
}
.list-table tr:first-child {
    background-color: #1f2833;
    color: whitesmoke;
}
.list-table tr:last-child {
    border-bottom: 1px solid #0B0C10;
}

.href-row:first-child:hover {
    border: 2px solid transparent;
}
.href-row:hover {
    border: 2px solid #45A29e;
}


.list-table a {
    display: block;
    padding: 16px;
}

.logo {
    width: 100px;
    float: left;
    height: 80px;
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}

.top-title {
    float:center;
}
.top-title h1 {
    margin: auto;
    position: absolute;
    left: 200px;
    right: 170px;
    padding-top: 20px;
    text-align: center;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 32px;
    color: white;
}

/*
.top-menu {
    width: 100%;
    height: 60px;
    float: left;
    background-color: #1f2833;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.top-menu li {
    list-style: none;
    float: left;
    text-align: center;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    height: 60px;

    background-color: #1f2833;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.top-menu > li {
    border-left: 2px ridge  #66fcf1;
}
.top-menu > li:first-child {
    margin-left: 5%;
}
.top-menu > li:last-child {
    border-right-width: 2px;
    border-right-style: ridge;
    border-right-color: #66fcf1;
}
.top-menu li p {
    height: 40px;
    display: block;
    width: 160px;
    text-decoration: none;
    color: white;
}
.top-menu li a {
    height: 40px;
    display: block;
    padding-top: 20px;
    width: 160px;
    text-decoration: none;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}
.top-menu > li:hover > a {
    height: 45px;
    margin-top: 5px;
    background: #66fcf1;
    color: black;
}

.submenu-link:after {
    content: "∨";
    font: bold;
    color: inherit;
    margin-left: 10px;
}

.top-submenu {
    position: relative;
    width: 160px;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    padding-left: 0px;
    transition: .5s ease-in-out;
}
.top-submenu > li {
    width: 156px;
    border-left: 2px ridge  #66fcf1;
    border-right: 2px ridge  #66fcf1;

    border-bottom-width: 1px;
    border-bottom-style: ridge;
    border-bottom-color: #66fcf1;
}
.top-submenu a {
    color: red;
    text-align: center;
    font-size: 13px;
}
.top-submenu li:last-child a { border-bottom: none; }
.top-menu > li:hover .top-submenu {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.5s ease;
}
.top-submenu > li:hover a {
    margin-left: 5px;
    background: #66fcf1;
    color: black;
}
*/

.block-top-auth {
    width: 100px;
    float: right;
    margin-left: 40px;
    height: inherit;
}
.block-top-auth p {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 8px;
}
.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}
.block-top-auth a:hover {
    color: #00ADE4;
}


.tipmsg {
    float: left;
    height: auto;
    padding-top: calc(var(--header-h)/4);
    display: inline-block;
    position: relative;
}
.tipmsg p {
    font-size: 32px;
    color: white;
    margin: auto;
}
.tipmsg:hover::after {
    content: attr(msg);
    position: absolute;
    width: auto;
    white-space: nowrap;
    left: 20%; top: 30%;
    z-index: 1;
    background: rgba(255,255,255,0.9);
    font-family: Arial, sans-serif; 
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid #333;
}

.dow-checkbox {
    transform: scale(2);
    width: auto;
    margin-left: 6px;
    margin-right: 0px;
}