.pop-up-show {
    height: 40px;
    display: block;
    padding: 10px;
    min-width: 300px;
    text-decoration: none;

    position: fixed;
    bottom: 5px;
    right: 5%;

    background-color: #1f2833;
    color: whitesmoke;
}

.pop-up-div {
    display: none;
    border: 2px solid #66fcf1;
    width: fit-content;

    position: fixed;
    bottom: 5px;
    right: 5%;
}

.pop-up-form {
    max-width: 300px;
    padding: 10px;
    background-color: #1f2833;
    padding-top: 15px;
}

.pop-up-form input {
    width: 95%;
    padding: 7px;
    margin: 5px 10px 15px 0;
}

.pop-up-form button {
    width: 100%;
    padding: 7px;
    margin: 10px 10px 0px 0;
}

.pop-up-2inp {
    width: 100%;
}

.pop-up-2inp input {
    width: 30%;
}

.pop-up-form b {
    color: whitesmoke;
}