.pop-up-show {
    height: 40px;
    display: block;
    padding: 10px;
    min-width: 300px;
    text-decoration: none;

    position: fixed;
    bottom: 5px;
    right: 5%;

    background-color: #1f2833;
    color: whitesmoke;
}

.pop-up-div {
    display: none;
    border: 2px solid #66fcf1;
    width: fit-content;

    position: fixed;
    bottom: 5px;
    right: 5%;
}

.pop-up-form {
    max-width: 300px;
    padding: 10px;
    background-color: #1f2833;
    padding-top: 15px;

    /* font-family: century gothic; */
}

.pop-up-form input {
    width: 95%;
    padding: 7px;
    margin: 5px 10px 15px 0;

    /* background-color: inherit;
    color: whitesmoke;
    font-family: inherit; */
}

.pop-up-form textarea {
    width: 95%;
    padding: 7px;
    margin: 5px 10px 15px 0;
    resize: vertical;
    max-height: 200px;
    min-height: 40px;

    /* background-color: inherit;
    color: whitesmoke;
    font-family: inherit; */
}


.pop-up-form button {
    width: 100%;
    padding: 7px;
    margin: 10px 10px 0px 0;
}

.pop-up-2inp {
    width: 100%;
}

.pop-up-2inp input {
    width: 30%;
}

.pop-up-form b {
    color: whitesmoke;
}

.pop-up-phone {
    width: 105%;
}
.pop-up-phone input {
    width: 84%;
}

.pop-up-check {
    margin-top: -10px;
    width: 100%;
}
.pop-up-check input {
    width: 20px;
}
.pop-up-check label {
    display: inline-block;
}

.pop-up-date {
    width: 101%;
}
.pop-up-date input {
    margin-right: 0px;
    width: 42%;
}

.pop-up-time {
    width: 101%;
}
.pop-up-time input {
    margin-right: 0px;
    width: 42%;
}

.pop-up-rowdow {
    width: 100%;
    display: flex;
}

.pop-up-dow {
    width: auto;
    margin-top: 3px;
    margin-right: 26px;
    margin-left: 0px;
}
.pop-up-dow input {
    transform: scale(2);
    width: auto;
    margin-left: 6px;
    margin-right: 0px;
}
.pop-up-dow input:checked {
    background-color: red;
}
.pop-up-dow label {
    font-size: 13px;
    text-anchor:middle;
}