.top-menu {
    width: 100%;
    height: 60px;
    float: left;
    background-color: #1f2833;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

    display: flex;
}

/* #navigation {
} */

.top-menu li {
    list-style: none;
    float: left;
    text-align: center;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    height: inherit;

    background-color: #1f2833;

    /* flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
.top-menu > li {
    border-left: 2px ridge  #66fcf1;
}
.top-menu > li:first-child {
    margin-left: 5%;
}
.top-menu > li:last-child {
    border-right-width: 2px;
    border-right-style: ridge;
    border-right-color: #66fcf1;
    margin-right: 5%;
}
.top-menu li p {
    height: 40px;
    display: block;
    width: 160px;
    text-decoration: none;
    color: white;
}
.top-menu li a {
    height: 40px;
    display: block;
    padding-top: 20px;
    min-width: 160px;
    text-decoration: none;
    color: white;
    cursor: pointer;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}
.top-menu > li:hover > a, .top-menu > li:active > a {
    height: 45px;
    margin-top: 5px;
    background: #66fcf1;
    color: black;
}

.submenu-link:after {
    content: "∨";
    font: bold;
    color: inherit;
    margin-left: 10px;
}

.top-submenu {
    position: relative;
    width: 160px;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    padding-left: 0px;
    transition: .5s ease-in-out;
}
.top-submenu > li {
    width: 156px;
    border-left: 2px ridge  #66fcf1;
    border-right: 2px ridge  #66fcf1;

    border-bottom-width: 1px;
    border-bottom-style: ridge;
    border-bottom-color: #66fcf1;
}
.top-submenu a {
    color: red;
    text-align: center;
    font-size: 13px;
}
.top-submenu li:last-child a { border-bottom: none; }
.top-menu > li:hover .top-submenu {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.5s ease;
}
.top-submenu > li:hover a {
    margin-left: 5px;
    background: #66fcf1;
    color: black;
}
