{% extends "base.html" %}

{% block title %} Авторизация {% endblock %}

{% block content %}
    <form method="post", action="{% url 'auth:verify'%}">
        {% csrf_token %}

        <div>
            <label> Логин: </label>
            <input type="text" name="login" value="{{ login }}" required>
        </div>

        <div>
            <label> Пароль: </label>
            <input type="password" name="password" required>
        </div>

        <div>
            <button type="submit">Войти</button>
        </div>
    </form>

{% endblock %}
