{% extends "general.html" %}

{% block page_title %} Заголовок {% endblock %}

{% block content %}
    <h1> Мой профиль </h1>
    <div>
        <table>
            <tr>    <td>Имя</td>        <td>{{person.forename}}</td> </tr>
            <tr>    <td>Фамилия</td>    <td>{{person.surname}}</td> </tr>
            <tr>    <td>Должность</td>  <td>{{request.session.user.type_name}}</td> </tr>
            <tr>    <td>Пол</td>        <td>{{person.gender}}</td> </tr>
        </table>
    </div>
{% endblock %}
