{% extends "general.html" %}

{% block head_title %} Профиль {% endblock %}
{% block top_title %} Профиль {% endblock %}

{% block content %}
    <div>
        <table>
            <tr>    <td>Имя</td>            <td>{{person.forename}}</td> </tr>
            <tr>    <td>Фамилия</td>        <td>{{person.surname}}</td> </tr>
            <tr>    <td>Должность</td>      <td>{{person.type_name}}</td> </tr>
            <tr>    <td>Логин</td>          <td>{{person.login}}</td> </tr>
            <tr>    <td>Пол</td>            <td>{{person.gender}}</td> </tr>
            <tr>    <td>Дата рождения</td>  <td>{{person.dob}}</td> </tr>
            <tr>    <td>Телефон</td>        <td>{{person.phonenumber}}</td> </tr>
        </table>
    </div>
{% endblock %}
