{% extends "base.html" %}

{% block navigate %}
    <nav>
        <ul class="top-menu">
            <li><p>Администратор</p></li>
            <li><a href="{% url 'users:profile'%}">Профиль</a></li>
            <li>
                <a href="{% url 'users:all'%}" class="submenu-link">Сотрудники</a>
                <ul class="top-submenu">
                    <li><a href="{% url 'users:all'%}"> Все сотрудники </a></li>
                    <li><a href="{% url 'users:unverified'%}"> Заявки </a></li>
                </ul>
            </li>

            <li><a href="#">Заказы</a></li>
            <li><a href="#">Проезды</a></li>
            <li>
                <a href="#" class="submenu-link">Дежурства</a>
                <ul class="top-submenu">
                    <li><a href="#">Водители</a></li>
                    <li><a href="#">Охранники</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="submenu-link">Прочее</a>
                <ul class="top-submenu">
                    <li><a href="{% url 'other:trucks'%}">Машины</a></li>
                    <li><a href="#">КПП</a></li>
                </ul>
            </li>
            <!-- {{ request.path }} -->
        </ul>
    </nav>
{% endblock %}