{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '\css\base.css' %}"/>
{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static "icons/logo2.png" %}" width="100" height="70" />
        </div>
        {% if msg.warning %}
            <div class="tipmsg" msg="{{msg.warning}}">
                <img src="{% static "icons/warning2.png" %}" width="50" height="50" />
            </div>
        {% elif msg.info %}
            <div class="tipmsg" msg="{{msg.info}}">
                <img src="{% static "icons/info.png" %}" width="50" height="50" />
            </div>
        {% endif %}

        {% if request.session.user %}
            <div class="block-top-auth">
                <form action="{% url 'auth:logout'%}">
                    <button type="submit">Выйти</button>
                </form>
            </div>
        {% else %}
            <div class="block-top-auth">
                <form action="{% url 'auth:login'%}">
                    <button type="submit">Войти</button>
                </form>
            </div>
        {% endif %}

        <div class="top-title">
            <h1> {% block top_title %}{% endblock %} </h1>
        </div>
    </header>
    <div id="navigation"> {% block navigate %}{% endblock %} </div>

    <div class="wrapper">
        <div id="content" class="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>

<script>
</script>
