{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '\css\base.css' %}"/>
{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <p>LOGO</p>
        </div>
        {% if msg.warning %}
            <div class="tipmsg" msg="{{msg.warning}}">
                <p>❗</p>
            </div>
        {% elif msg.info %}
            <div class="tipmsg" msg="{{msg.info}}">
                <p>🛈</p>
            </div>
        {% endif %}

        {% if request.session.user %}
            <div class="block-top-auth">
                <p><a href="{% url 'auth:logout'%}">Выйти</a></p>
            </div>
        {% else %}
            <div class="block-top-auth">
                <p><a href="{% url 'auth:login'%}">Войти</a></p>
            </div>
        {% endif %}

        <div class="top-title">
            <h1> {% block top_title %}{% endblock %} </h1>
        </div>
    </header>
    <div id="navigation"> {% block navigate %}{% endblock %} </div>

    <div class="wrapper">
        <div id="content" class="content">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>
