{% extends "base.html" %}

{% block navigate %}
    <nav>
        <ul class="top-menu" id="top-menu">
            <li><p>Водитель</p></li>
            <li><a href="{% url 'users:profile'%}">Профиль</a></li>
            <li><a href="{% url 'other:delivery'%}">Заказы</a></li>
            <li><a href="{% url 'other:driver_pass_record'%}">Проезды</a></li>  
            <li><a href="{% url 'duty:my_drivers'%}">Дежурства</a></li>
            <li><a href="{% url 'other:trucks'%}">Машины</a></li>
            <!-- {{ request.path }} -->
        </ul>
    </nav>
{% endblock %}