{% extends "general.html" %}

{% block head_title %} Заказ №{{order.orderid}} {% endblock %}
{% block top_title %} Заказ №{{order.orderid}} {% endblock %}

{% block content %}
<div>
    <table class="profile-table">
        <tr>    <td><b>Статус</b></td>          <td>{{order.rus_status}}</td> </tr>
        <tr>    <td><b>Адрес</b></td>           <td>{{order.address}}</td> </tr>
        <tr>    <td><b>Контакты</b></td>        <td>{{order.phonenumber}}</td> </tr>
        <tr>    <td><b>Время создания</b></td>  <td>{{order.creationtime}}</td> </tr>

        {% if order.completiontime %}
        <tr>    <td><b>Время доставки</b></td>  <td>{{order.completiontime}}</td> </tr>
        {% endif %}

        {% if order.driver %}
        <tr class="href-row" onclick="window.location='{% url 'users:profile' order.driver.login %}';">    
            <td><b>Курьер</b></td>
            <td>{{order.driver.surname}} {{order.driver.forename}} ({{order.driver.login}})</td>
        </tr>
        {% endif %}

        <tr>    <td><b>Описание</b></td>        <td>{{order.description}}</td> </tr>
    </table>
</div>

{% if order.status == "not_assigned" %}
    <button class="pop-up-show" id="pop-up-btn" onclick="showPopUp()">Назначить заказ</button>
    <div class="pop-up-div" id="pop-up-div">
        <form class="pop-up-form" method="post" action="{% url 'other:assign_delivery'%}">
            {% csrf_token %}
            
            <input type="text" name="orderid" value="{{order.orderid}}" style="display:none;">

            <label for="login"><b>Водитель</b></label>
            <input type="text" placeholder="Логин" name="login" required>
            
            <button type="submit" class="btn">Назначить</button>
            <button type="button" class="pop-up-hide" id="pop-up-btn" onclick="hidePopUp()">Закрыть</button>
        </form>
    </div>
    <script>
        function showPopUp() {
            document.getElementById("pop-up-div").style.display = "block";
        }

        function hidePopUp() {
            document.getElementById("pop-up-div").style.display = "none";
        }
    </script>
{% elif order.status == "in_transit" %}
    <button class="pop-up-show" id="pop-up-btn" onclick="window.location='{% url 'other:done_delivery' order.orderid %}';">Завершить заказ</button>
{% endif %}

{% endblock %}
