{% extends "general.html" %}

{% block head_title %} Записи о проездах {% endblock %}
{% block top_title %} Записи о проездах {% endblock %}

{% block content %}
    <div>
        {% if pass_arr %}
        <table class="list-table"> 
            <tr>
                <td class="medi-w"><b>Машина</b></td>
                <td><b>Водитель</b></td>
                <td class="medi-w"><b>КПП</b></td>
                <td><b>Время</b></td>
                <td><b>Направление</b></td>
            </tr>

            {% for obj in pass_arr %}
            <tr>
                <td>{{obj.platenumber}}</td>
                {% if obj.login %}
                    <td class="href-row" onclick="window.location='{% url 'users:profile' obj.login %}';">
                        {{obj.login}}
                    </td>
                {% else %}
                    <td> - </td>
                {% endif %}
                <td>{{obj.checkpointid}}</td>
                <td>{{obj.passdate}} {{obj.passtime}}</td>
                <td class="w220 no-pad">
                    <label class="switch w200">
                        {% if obj.direction == "out" %}
                            <input type="checkbox" name='direction' value="in" id="togBtn" disabled>
                        {% else %}
                            <input type="checkbox" name='direction' value="in" id="togBtn" disabled checked>
                        {% endif %}
                        <div class="slider round">
                            <span class="on"><b>Въезд</b></span>
                            <span class="off"><b>Выезд</b></span>
                        </div>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1> История проездов пуста </h1>
        {% endif %}
    </div>

    <button class="pop-up-show" id="pop-up-btn" onclick="showPopUp()">Создать запись</button>
    <div class="pop-up-div" id="pop-up-div">
        <form class="pop-up-form" method="post" action="{% url 'other:add_pass_record'%}">
            {% csrf_token %}

            <label for="platenumber"><b>Номер машины</b></label>
            <input list="trucks" name="platenumber" autocomplete="off" placeholder="A0123ВЕ777"
            pattern="[АВЕКМНОРСТХ]\d{3}[АВЕКМНОРСТХ]{2}\d{3}" required>
            <datalist id="trucks">
                {% for obj in truck_arr %}
                    <option value="{{obj.platenumber}}">
                {% endfor %}
            </datalist>

            <label for="checkpointid"><b>Номер КПП</b></label>
            <input list="checkpoints" placeholder="1" name="checkpointid" autocomplete="off"
            pattern="[\d]+" required>
            <datalist id="checkpoints">
                {% for obj in check_arr %}
                    <option value="{{obj.checkpointid}}">
                {% endfor %}
            </datalist>
            

            <label for="checkpointid"><b>Направление</b></label>
            <label class="switch">
                <input type="checkbox" name='direction' value="in" id="togBtn">
                <div class="slider round">
                    <span class="on"><b>Въезд</b></span>
                    <span class="off"><b>Выезд</b></span>
                </div>
            </label>

            <button type="submit" onclick="submitForm(this);" class="btn">Добавить</button>
            <button type="button" class="pop-up-hide" id="pop-up-btn" onclick="hidePopUp()">Закрыть</button>
        </form>
    </div>
    <script>
        function showPopUp() {
            document.getElementById("pop-up-div").style.display = "block";
        }

        function hidePopUp() {
            document.getElementById("pop-up-div").style.display = "none";
        }
    </script>
{% endblock %}

